.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-color: white; /* Ajusta el color de fondo según sea necesario */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade sombra para resaltar el header */
}


.row-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header-24-7 {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-socials {
    display: flex;
    gap: 10px; /* Espacio entre iconos de redes sociales */
}

.header-img-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header-logo {
    width: 200px; /* Ajusta el tamaño según sea necesario */
}

.header-section {
    display: flex;
    font-family: 'Raleway', sans-serif; /* Ajusta la fuente según sea necesario */

}

.cotiza-buton,
.auth-button {
    background-color: #fe4c1c;
    color: white;
    padding: 9px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.cotiza-buton{
    margin-right: 10px;
}
.cotiza-buton:hover,
.auth-button:hover {
    background-color: #e5172a;
}
@media screen and (max-width: 768px) {
    .header-logo {
        width: 150px; /* Ajusta el tamaño según sea necesario */
    }
    .cotiza-buton,
    .auth-button {
        background-color: #fe4c1c;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
    }
    
}

@media screen and (max-width: 358px) {
    .header {
        align-items: center; /* Centra los elementos verticalmente */
    }

    .header-logo {
        width: 100px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }

    .row-log {
        flex-direction: column; /* Cambia la dirección del flexbox para apilar los elementos verticalmente */
        padding: 5px 0; /* Reduce el padding entre los elementos */
    }

    .header-img-bottom {
        padding: 5px 0; /* Reduce el padding entre los elementos */
    }

    .cotiza-buton,
    .auth-button {
        padding: 5px 8px; /* Reduce el padding de los botones */
        font-size: 12px; /* Ajusta el tamaño de la fuente de los botones */
    }
}
