/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.planet-container {
    margin-top: 40px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 40px;
    height: 100vh;
    overflow: hidden;
}

.planet-container h1 {
    font-size: 3.3rem;
    /* Ajusta este valor según necesites */
    font-weight: bold;
    /* Hace que todo el texto sea negrita */
}

.highlight {
    color: red;
    /* Cambia el color de 'ser un experto' a rojo */
}

/* Fondo animado */
.animated-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: moveGradient 4s linear infinite;
}

.row-button-planet-text {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* Cambiado a column para alinear los elementos verticalmente */

    /* Alinea los elementos a la izquierda */
    font-family: 'Raleway', sans-serif;
}


/* Texto */
.text-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Asegura que los elementos estén en columna y alineados a la izquierda */
    padding-left: 40px;
    /* Ajusta según lo necesites */
}

.text-container-left h1 {
    margin: 0 0 10px 0;
    /* Añade un margen debajo para separar del párrafo 'fácil' */
    font-weight: bold;
    /* Hace el texto negrita */
    font-size: 3rem;
    /* Aumenta el tamaño del texto, ajusta según lo necesites */
}


.text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea los textos a la izquierda */
    padding-left: 20px;
    /* Espacio desde el lado izquierdo */
}

.text-group h1 {
    font-size: 3.3rem;
    /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bold;
    /* Hace que el texto sea negrita */
    margin-bottom: 0.5em;
    /* Espacio entre 'Importa y exporta' y 'fácil' */
}



.facil {
    color: red;
    /* Aplica el color rojo al texto "fácil" */
    font-weight: bold;
    /* Opcional: Si también deseas que "fácil" sea negrita */
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
    /* Aumenta el tamaño del texto, ajusta según lo necesites */
}


.div_planeta img {
    width: auto;
    max-width: 100%;
    /* Asegúrate de que la imagen no sobrepase el contenedor */
    height: auto;
}

/* Imagen del planeta */
.div_planeta img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

/* Animación de fondo */
@keyframes moveGradient {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

/* Animación de scroll horizontal */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Media queries */
@media screen and (min-width: 768px) {
    .planet-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text-container {
        width: 50%;
        padding: 60px 30px 60px 30px;
        align-items: start;
    }

    .div_planeta {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .text-container h1 {
        font-size: 1.5rem;
    }
}

.titulos {
    display: flex;
    animation: scroll 20s linear infinite;
}