/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.planet-container {
    margin-top: 40px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 40px;
    overflow: hidden;
}

.planet-container h1 {
    font-size: 3.4rem;
    font-weight: 900;

    font-family: 'Montserrat', sans-serif;
}

.highlight {
    color: #E5172A;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

/* Imagen del planeta */
.div_planeta img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}




@media screen and (max-width: 432px) {
    .planet-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        padding-left: 20px;
        padding-top: 90px;
        padding-bottom: 0px;
    }

    .planet-container h1 {
        font-size: 2.5rem;
        font-weight: 900;

        font-family: 'Montserrat', sans-serif;
    }

    .highlight {
        color: red;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
    }

    .div_planeta img {
        width: 350px;
    }

    /* Imagen del planeta */
    .div_planeta img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }


}


@media screen and (min-width: 433px) and (max-width: 767px) {
    .planet-container {
        margin-top: 40px;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-right: 10px;
        padding-left: 20px;
        padding-top: 80px;
        overflow: hidden;
    }

    .planet-container h1 {
        font-size: 2.4rem;
        font-weight: 900;

        font-family: 'Montserrat', sans-serif;
    }

    .highlight {
        color: red;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
    }

    .div_planeta img {
        width: 320px;
    }

    /* Imagen del planeta */
    .div_planeta img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }


}


/* Animación de fondo */
@keyframes moveGradient {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

/* Animación de scroll horizontal */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}