/* Estilos básicos para el carrusel */
.section_cajones {
    height: 10px;
}

.section_cajones .div_cajones {
    max-width: 10px;
    /* Asegura que el carrusel no se desborde de su contenedor padre */
    overflow: hidden;
    /* Oculta cualquier contenido que se extienda fuera del carrusel */
}

.slider,
.slider .slick-list,
.slider .slick-track {
    height: 100% !important;
    /* Asegura que el carrusel tenga un alto fijo y uniforme */
}

.imagen_cajon {
    width: 100px;
    /* Establece el ancho del contenedor de la imagen */
    height: 100px;
    /* Establece la altura del contenedor de la imagen */
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que exceda el tamaño del contenedor */
}

.imagen_cajon img {
    max-width: 100%;
    /* Limita el ancho máximo de la imagen al del contenedor */
    height: auto;
    /* Ajusta la altura automáticamente para mantener la proporción */
    object-fit: contain;
    /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse */
}




.slider {
    /* display: flex;
    transition: transform 0.5s ease-in-out; */

}

.slider li {
    /* flex: 0 0 100%;
    margin-right: 20px;
    /* Espacio entre elementos */
    /* list-style: none;
    */

}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 17px) {
    .slider li {
        /* flex-basis: 21000px; */
        /* Para que los elementos ocupen el ancho completo */
        margin-right: 0;
        /* Sin espacio entre elementos */
    }
}