/* Estilos básicos para el carrusel */
.div_cajones {
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider li {
    flex: 0 0 100%;
    margin-right: 20px; /* Espacio entre elementos */
    list-style: none;
}

.imagen_cajon {
    text-align: center;
}

.imagen_cajon img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Altura máxima de las imágenes */
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .slider li {
        flex-basis: 100%; /* Para que los elementos ocupen el ancho completo */
        margin-right: 0; /* Sin espacio entre elementos */
    }
}
