header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.header-center {
    text-align: center;
    font-size: 10px;
    flex-grow: 1;
    align-items: center;
}

.image_logo {
    width: 230px;
    height: auto;
    margin-right: 10px;
}

.whatsapp_header_logo {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.login-button {
    padding: 10px 20px 10px 20px;
    background-color: #fe4c1c;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

/* Media query para hacer el header responsive */
@media screen and (max-width: 768px) {
    .image_logo {
        width: 120px;
    }

    .whatsapp_header_logo {
        width: 25px;
        height: 25px;
    }

    .login-button {
        margin-top: 10px;
    }
}