/* Estilos generales */
/* Header principal con animación */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el header esté sobre otros contenidos */
    transition: background-color 0.3s;
    /* Suaviza el cambio de color */
    background-color: transparent;
    /* Color inicial transparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Ajusta el logo y los elementos del header para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .header-logo {
        width: 100px;
        /* Tamaño más pequeño del logo */
    }

    .header-section,
    .header-center,
    .header-centerU,
    .header-centerUnion {
        padding: 5px 10px;
        /* Menor espaciado */
        font-size: 14px;
        /* Tamaño de texto más pequeño */
    }
}


.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, #6c6c6c, #ada8a8, #6c6c6c, #ada8a8, #6c6c6c);
    background-size: 400% 400%;
    animation: moveGradient 4s linear infinite;
}

.header-scrolled::before {
    background: #ffffff !important;
    /* Nuevo fondo cuando se hace scroll */
}

.header-section {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    /* Ajusta según necesidad */
    padding-right: 30px;
    font-weight: bold;
    z-index: 1;
}

.header-center {
    display: flex;
    /* Establece el modelo de caja flexible */
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: flex-start;
    /* Alinea los elementos al inicio de la fila */
    /* Puedes ajustar el espaciado horizontal entre los elementos de texto con 'justify-content' */
}

.header-center p {
    margin: 0;
    /* Elimina los márgenes por defecto */
    font-size: 30px;
    /* padding: 10; */
    /* Asegúrate de que no haya relleno adicional */
}


.whatsapp-icon {
    font-size: 30px;
    /* Ajusta el tamaño según tus necesidades */
}

.header-centerU p {
    margin: 0;
    /* Elimina los márgenes por defecto */
    font-size: 28px;

    padding: 0;
    /* Asegúrate de que no haya relleno adicional */
}




.header-centerUnion {
    display: flex;
    /* Activa Flexbox */
    justify-content: flex-start;
    /* Alinea los elementos al inicio del contenedor */
    align-items: center;
    /* Centra los elementos verticalmente */
}

.header-centerUnion a {
    margin-left: 0;
    /* Ajusta según sea necesario para alinear los puntos con los íconos */
    padding-left: 20px;
    /* Ajusta el espacio entre los puntos y los íconos */
    align-items: flex-start;
    /* Otros estilos que desees aplicar a tus elementos <li> */
}

.header-centerUnion p {
    margin: 0;
    /* Elimina los márgenes por defecto */
    font-size: 28px;
    /* Establece el tamaño de fuente */
    padding: 10px;
    /* Asegúrate de que no haya relleno adicional */
}

.header-logo {
    width: 230px;
    height: auto;
    margin-right: 10px;
}

.whatsapp-logo {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.auth-button {
    padding: 10px 20px 10px 20px;
    background-color: #fe4c1c;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1;
}

.header-logo,
.whatsapp-logo,
.auth-button {
    z-index: 1;
    /* Asegura que el contenido esté sobre el fondo animado */
    /* Estilos específicos permanecen iguales */
}

/* Media query para hacer el header responsive */
@media screen and (max-width: 768px) {
    .header-logo {
        width: 120px;
    }

    .whatsapp-logo {
        width: 25px;
        height: 25px;
    }

    .auth-button {
        margin-top: 10px;
    }
}

/* Animación de fondo */
@keyframes moveGradient {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}