/* Contenedor del eslogan */
.slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    /* Fondo llamativo */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif;
    /* Sombra suave */
}

/* Estilos para el texto del eslogan */
.slogan-container strong {
    font-weight: bold;
    font-size: 1.0rem;
    margin-bottom: 10px;
    color: #333;
    /* Color de texto oscuro */
    line-height: 1.0;
    /* Espaciado de línea adecuado */
}

.tu-clase-de-imagen {
    width: 250px;

    /* Para asegurar que la imagen no sea demasiado grande */
    display: block;
    /* Para que la imagen ocupe su propia línea */
    margin: 20px auto;
    /* Para centrar la imagen y agregar algo de espacio alrededor */
}


/* Estilos para el botón de cotización */
.cotiza-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #FE4C1C;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transición suave */
}

.cotiza-button strong,
a {
    color: white;
    text-decoration: none;
}

.cotiza-button:hover {
    background-color: #e5172a;
    /* Color de fondo más oscuro al pasar el mouse */
}

.cotiza-button img {
    width: 70px;
    height: 70px;
    margin-right: 0px;
}

/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .slogan-container {
        margin: 15px;
        padding: 15px;
    }

    .slogan-container strong {
        font-size: 1.2rem;
    }

    .cotiza-button {
        padding: 8px 16px;
    }

    .cotiza-button img {
        width: 64px;
        height: 64px;
        margin-right: 8px;
    }
}